.credential-request {
    padding: 1rem;
    margin-top: 1rem;
    border-width: 1px;
    border-radius: 0.25rem;
    border-style: solid;
    border-color: #B4BECA;
    background-color: rgb(243,245,247);
}

.button-remove {
    float: right;
}

.invalid {
    color: #a80000
}

.errorMessage {
    color: #a80000
}