<button pButton class="p-button-rounded" type="button" pButton icon="fa fa-plus" (click)="createTemplate()" label="{{'CreateAgentTemplateLabel' | translate }}"></button>
<p-table [value]="agentTemplates" styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">{{'NameLabel' | translate }} <p-sortIcon field="name"></p-sortIcon></th>
            <th width="100">{{'UrlLabel' | translate }}</th>
            <th width="100">{{'ApiKeyLabel' | translate }}</th>
            <th style="width: 11rem"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-schemaId let-rowIndex="rowIndex">
        <tr>
            <td>{{schemaId.name}}</td>
            <td>{{schemaId.url}}</td>
            <td>{{schemaId.apiKey}}</td>
            <td>
                <button pButton pRipple icon="fa fa-credit-card" class="p-button-rounded p-button-success mr-2" (click)="showIssueCredentials(rowIndex)"></button>
                <button pButton pRipple icon="fa fa-edit" class="p-button-rounded p-button-success mr-2" (click)="editTemplate(rowIndex)"></button>
                <button pButton pRipple icon="fa fa-trash" class="p-button-rounded p-button-success mr-2" (click)="deleteTemplate(rowIndex)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-dialog header="{{'AgentTemplateTitle' | translate }}" [(visible)]="agentTemplateDialogVisible" [closable]="false" showEffect="fade" [modal]="true" appendTo="body" [style]="{width: '700px'}">
    <div *ngIf="agentTemplateDialogVisible">
        <div class="grid">
            <div class="col-12">
                <agent #agent [(ngModel)]="agentTemplate"></agent>
            </div>
        </div>
    </div>
    <p-footer>
        <button type="button" pButton icon="fa fa-close" (click)="cancel()" label="{{'CancelLabel' | translate }}"></button>
        <button type="button" pButton icon="fa fa-check" (click)="save()" [label]="confirmLabel"></button>
    </p-footer>
</p-dialog>
<p-dialog header="Issue Credentials" [(visible)]="issueCredentialDialogVisible" [closable]="false" showEffect="fade" [modal]="true" appendTo="body" [style]="{width: '700px'}">
    <div *ngIf="issueCredentialDialogVisible">
        <div class="grid">
            <div class="col-12">
                <issue-credential [agentTemplate]="agentTemplate"></issue-credential>
            </div>
        </div>
    </div>
    <p-footer>
        <button type="button" pButton icon="fa fa-close" (click)="closeIssueCredential()" label="{{'CloseLabel' | translate }}"></button>
    </p-footer>
</p-dialog>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-blockUI [blocked]="blocked"></p-blockUI>