<div ngForm #credentialDefinitionForm="ngForm">
    <div class="grid">
        <div class="col-12">   
            <p-table [value]="credentialDefinitionIds">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        <h5 class="m-0">Manage Credential Definitions</h5>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="version">Tag <p-sortIcon field="id"></p-sortIcon></th>
                        <th style="width:2rem"><button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-success mr-2" (click)="addCredentialDefinition()"></button></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-credentialDefinitionId>
                    <tr>
                        <td>{{credentialDefinitionId.toString()}}</td>
                        <td>{{credentialDefinitionId.tag}}</td>
                        <td><button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editCredentialDefinition(credentialDefinitionId)"></button></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        In total there are {{credentialDefinitionIds ? credentialDefinitionIds.length : 0 }} credential definitions.
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-dialog header="New Credential Definition" [(visible)]="editSchemaDialogVisible" [closable]="false" showEffect="fade" [modal]="true" appendTo="body" [style]="{width: '700px'}">
    <div *ngIf="editSchemaDialogVisible">
        <div class="grid">
            <div *ngIf="curentCredentialDefinition.id !== ''" class="col-12">
                <label for="name">Id</label>
                <div class="ui-inputgroup">
                  <input id="id" type="text" pInputText [(ngModel)]="curentCredentialDefinition.id" ngModel #id="ngModel" [style]="{'width':'100%'}" disabled>
                </div>
            </div>
            <div class="col-12">
                <label for="name">Schema Id*</label>
                <div *ngIf="curentCredentialDefinition.id !== ''" class="ui-inputgroup">
                  <input id="schemaId" type="text" pInputText [(ngModel)]="curentCredentialDefinition.schemaId" maxlength="60" [style]="{'width':'100%'}" ngModel #schemaId="ngModel" [disabled]="curentCredentialDefinition.id !==''">
                </div>
                <p-dropdown *ngIf="curentCredentialDefinition.id === ''" id="schemaId" 
                            name="schemaId" 
                            appendTo="body" 
                            placeholder="Select schema..."
                            [disabled]="curentCredentialDefinition.id !==''"
                            [options]="schemaIds" 
                            [ngModel]="curentCredentialDefinition.schemaId" 
                            (ngModelChange)="changeSchemaId($event)"                          
                            [style]="{'width':'100%'}">
                </p-dropdown>  
            </div>
            <div class="col-12">
                <label for="name">Tag*</label>
                <div class="ui-inputgroup">
                  <input id="name" type="text" pInputText [(ngModel)]="curentCredentialDefinition.tag" maxlength="60" [style]="{'width':'100%'}" ngModel #name="ngModel" [disabled]="curentCredentialDefinition.id !==''">
                </div>
            </div>
            <div class="col-2">
                <div for="name" style="margin-bottom: 5px">Revocable</div>
                <p-checkbox [binary]="true" [(ngModel)]="supportRevocation" label=""></p-checkbox>
            </div>
            <div *ngIf="curentCredentialDefinition.id === ''" class="col-4">
                <label for="name">Revocation Registry Size*</label>
                <div class="ui-inputgroup">
                  <input id="id" type="text" pInputText [(ngModel)]="revocationRegistrySize" ngModel #id="ngModel" [style]="{'width':'100%'}" [disabled]="!supportRevocation">
                </div>
            </div>
        </div>
    </div>
    <p-footer>
        <button type="button" pButton icon="fa fa-close" (click)="cancelEditSchema()" label="Cancel"></button>
        <button type="button" pButton icon="fa fa-check" (click)="acceptEditSchema()" label="Add"></button>
    </p-footer>
</p-dialog>