.card {
    border: 1px solid rgb(210,216,223);
    border-radius: 0.5rem;
    background-color: rgb(243,245,247);
    margin-top: 5px;
    margin-bottom: 5px;
}
.card-title {
    font-size: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.attribute-name {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}