<button pButton class="p-button-rounded" type="button" pButton icon="fa fa-plus" (click)="addCredentialTemplate()" label="{{'CreateAnonCredTemplateLabel' | translate }}"></button>
<!--
<button pButton class="p-button-rounded" type="button" pButton icon="fa fa-plus" (click)="addOCACredentialTemplate()" label="Create OCA Template"></button>
-->
<p-table [value]="credentialTemplates" styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">{{'NameLabel' | translate }} <p-sortIcon field="name"></p-sortIcon></th>
            <th width="100">{{'VersionLabel' | translate }}</th>
            <th width="100">{{'RevocableLabel' | translate }}</th>
            <th style="width:17rem"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-schemaId let-rowIndex="rowIndex">
        <tr>
            <td>{{schemaId.name}}</td>
            <td>{{schemaId.anoncred.version}}</td>
            <td>{{schemaId.revocable}}</td>
            <td>
                <button *ngIf="!schemaId.isPublished" pButton pRipple icon="fa fa-globe" class="p-button-rounded p-button-success mr-2" (click)="publishCredential(rowIndex)" label="{{'PublishLabel' | translate }}"></button>
                <button *ngIf="schemaId.isPublished" pButton pRipple icon="fa fa-gift" class="p-button-rounded p-button-success mr-2" (click)="offerCredential(rowIndex)" label="{{'OfferLabel' | translate }}"></button>
                <button *ngIf="!schemaId.isPublished" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editOcaTemplate(rowIndex)"></button>
                <button *ngIf="schemaId.isPublished" pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-success mr-2" (click)="editTemplate(rowIndex)"></button>
                <button *ngIf="schemaId.isPublished" pButton pRipple icon="fa fa-clone" class="p-button-rounded p-button-success mr-2" (click)="createNewTemplateVersion(rowIndex)"></button>
                <button pButton pRipple icon="fa fa-trash" class="p-button-rounded p-button-success mr-2" (click)="deleteTemplate(rowIndex)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-dialog header="{{'CredentialTemplateTitle' | translate }}" [(visible)]="credentialTemplateDialogVisible" [closable]="false" showEffect="fade" [modal]="true" appendTo="body" [style]="{width: '700px'}">
    <div *ngIf="credentialTemplateDialogVisible">
        <div class="grid">
            <div class="col-12">
                <anoncred-schema-form #anoncredForm 
                                      [(ngModel)]="credentialTemplate.anoncred" 
                                      [(credentialDefinition)]="credentialTemplate.credentialDefinition" 
                                      [newVersion]="newVersion" 
                                      [(revocable)]="credentialTemplate.revocable" 
                                      [(agentTemplate)]="agentTemplate" 
                                      (agentTemplateChange)="changeAgentTemplateId($event)"
                                      [(revocationRegistrySize)]="credentialTemplate.revocationRegistrySize"></anoncred-schema-form>
            </div>
        </div>
    </div>
    <p-footer>
        <button type="button" pButton icon="fa fa-close" (click)="cancel()" label="{{'CancelLabel' | translate }}"></button>
        <button type="button" pButton icon="fa fa-check" (click)="save()" [label]="confirmLabel"></button>
    </p-footer>
</p-dialog>
<p-dialog header="Create OCA Credential Template" [(visible)]="ocaCredentialTemplateDialogVisible" [closable]="false" showEffect="fade" [modal]="true" appendTo="body" [style]="{width: 'calc(100% - 50px)', height: '100%', 'max-width': '1200px'}">
    <div *ngIf="ocaCredentialTemplateDialogVisible">
        <div style="position: fixed; background-color: white; right: 15px; z-index: 1000; left: 215px; top: 51px; height: 140px; padding-top: 20px">
            <div class="grid">
                <div class="col-10">
                    <label for="name">Name*</label>
                    <div class="ui-inputgroup">
                        <input id="name" type="text" pInputText [(ngModel)]="credentialTemplate.anoncred.name" maxlength="60" [style]="{'width':'100%'}" ngModel #name="ngModel">
                    </div>
                </div>
                <div class="col-2">
                    <label for="name">Version*</label>
                    <div class="ui-inputgroup">
                        <input id="version" type="text" pInputText [(ngModel)]="credentialTemplate.anoncred.version" maxlength="10" [style]="{'width':'100%'}" ngModel #version="ngModel">
                    </div>
                </div>
                <div class="col-7">
                    <label for="name">Tag*</label>
                    <div class="ui-inputgroup">
                        <input id="name" type="text" pInputText [(ngModel)]="credentialTemplate.credentialDefinition.tag" maxlength="60" [style]="{'width':'100%'}" ngModel #name="ngModel">
                    </div>
                </div>
                <div class="col-2">
                    <div for="name" style="margin-bottom: 5px">Revocable</div>
                    <p-checkbox [binary]="true" [(ngModel)]="credentialTemplate.revocable" label=""></p-checkbox>
                </div>
                <div class="col-3">
                    <label for="name">Registry Size*</label>
                    <div class="ui-inputgroup">
                      <input id="id" type="text" pInputText [(ngModel)]="credentialTemplate.revocationRegistrySize" ngModel #id="ngModel" [style]="{'width':'100%'}" [disabled]="!credentialTemplate.revocable">
                    </div>
                </div>
            </div>
        </div>
        <oca-editor #ocaEditor [form]="credentialTemplate.ocaForm"></oca-editor>
    </div>
    <p-footer>
        <button type="button" pButton icon="fa fa-close" (click)="cancelOcaTemplate()" label="Cancel"></button>
        <button type="button" pButton icon="fa fa-check" (click)="saveOcaTemplate()" label="Confirm"></button>
    </p-footer>
</p-dialog>
<p-dialog header="{{'CredentialTemplateTitle' | translate }}" [(visible)]="credentialTemplateViewDialogVisible" [closable]="false" showEffect="fade" [modal]="true" appendTo="body" [style]="{width: '700px'}">
    <div *ngIf="credentialTemplateViewDialogVisible">
        <div class="grid">
            <div class="col-12">
                <credential-template-view [credentialTemplate]="credentialTemplate"></credential-template-view>
            </div>
        </div>
    </div>
    <p-footer>
        <button class="p-button-rounded" type="button" pButton icon="fa fa-check" (click)="close()" label="OK"></button>
    </p-footer>
</p-dialog>
<p-dialog header="{{'CredentialOfferTitle' | translate }}" [(visible)]="offerCredentialDialogVisible" [closable]="true" (onHide)="cancelCredentialOffer()" showEffect="fade" [modal]="true" appendTo="body" [style]="{width: '700px', height: '100%'}">
    <div *ngIf="offerCredentialDialogVisible">
        <div class="grid">
            <div class="col-12">
                <credential-issuer #credentialOffer [agentTemplate]="agentTemplate" [credentialDefinition]="credentialDefinition" [revocable]="revocable" (credentialIssued)="credentialIssued()"></credential-issuer>
            </div>
        </div>
    </div>
    <p-footer>
        <button *ngIf="!offerLinkVisible" class="p-button-rounded" type="button" pButton icon="fa fa-qrcode" (click)="createOfferLink()" label="{{'CreateOfferLink' | translate }}"></button>
    </p-footer>
</p-dialog>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-blockUI [blocked]="blocked"></p-blockUI>