<!--<h1>{{credentialTemplate.name}}</h1>-->
<div class="grid card">
    <div class="col-12 card-title">Attributes</div>
    <div *ngFor="let attribute of credentialTemplate.anoncred.attributeNames" class="col-12 attribute-name">{{attribute}}</div>
</div>
<div class="grid card">
    <div class="col-12 card-title">Details</div>
    <div class="col-4">Schema ID</div>
    <div class="col-8">{{credentialTemplate.anoncred.id}}</div>
    <div class="col-4">Credential Definition ID</div>
    <div class="col-8">{{credentialTemplate.credentialDefinition.id}}</div>
    <div class="col-4">Revocable</div>
    <div class="col-8">{{credentialTemplate.revocable}}</div>
</div>