<div *ngIf="!offerLinkVisible" ngForm #credentialDefinitionForm="ngForm">
    <div class="grid">
        <div class="col-12"><h1>{{schemaName}} <i class="fa fa-credit-card"></i></h1></div> 
        <div class="col-12">{{'EnterAttributesLabel' | translate }}</div> 
        <div class="col-12">
            <dynamic-form #attributesForm [questions]="attributeValues"></dynamic-form>
        </div> 
    </div>
</div>
<div *ngIf="offerLinkVisible" class="grid">
    <div class="col-12"><h1>{{schemaName}} <i class="fa fa-credit-card"></i></h1></div>
    <div class="col-12">
        <qrcode [qrdata]="invitationUrl" [width]="400" [errorCorrectionLevel]="'M'"></qrcode>
    </div>
    <div class="col-12">
        <input id="version" type="text" pInputText [(ngModel)]="offerLinkUrl" maxlength="10" [style]="{'width':'100%'}" ngModel #version="ngModel" readonly>
    </div>
</div>