<button pButton class="p-button-rounded" type="button" icon="fa fa-plus" (click)="create()" label="{{'CreateVerificationTemplateLabel' | translate }}"></button>
<p-table [value]="verificationTemplates" styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">{{'NameLabel' | translate }} <p-sortIcon field="name"></p-sortIcon></th>
            <th style="width:11rem"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-schemaId let-rowIndex="rowIndex">
        <tr>
            <td>{{schemaId.name}}</td>
            <td>
                <button pButton pTooltip="{{'RequestVerificationTooltip' | translate }}" tooltipPosition="top" icon="fa fa-id-card" class="p-button-rounded p-button-success mr-2" (click)="requestProof(rowIndex)"></button>
                <button pButton pRipple icon="fa fa-edit" class="p-button-rounded p-button-success mr-2" (click)="editTemplate(rowIndex)"></button>
                <button pButton pRipple icon="fa fa-trash" class="p-button-rounded p-button-success mr-2" (click)="deleteTemplate(rowIndex)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-dialog header="{{'VerificationTemplateTitle' | translate }}" [(visible)]="verificationTemplateDialogVisible" [closable]="false" showEffect="fade" [modal]="true" appendTo="body" [style]="{width: '790px', height: '100%'}">
    <div *ngIf="verificationTemplateDialogVisible">
        <div class="grid">
            <div class="col-12">
                <verification-template-editor #editor [(ngModel)]="verificationTemplate"></verification-template-editor>
            </div>
        </div>
    </div>
    <p-footer>
        <button type="button" pButton icon="fa fa-close" (click)="cancel()" label="{{'CancelLabel' | translate }}"></button>
        <button type="button" pButton icon="fa fa-check" (click)="save()" [label]="saveLabel"></button>
    </p-footer>
</p-dialog>
<p-dialog header="{{'RequestVerificationTitle' | translate }}" [(visible)]="requestVerificationDialogVisible" [closable]="true" showEffect="fade" [modal]="true" appendTo="body" [style]="{width: '530px', height: '100%'}">
    <div *ngIf="requestVerificationDialogVisible">
        <div class="grid">
            <div class="col-12">
                <request-verification [proofRequest]="proofRequest" [agentTemplate]="agentTemplate"></request-verification>
            </div>
        </div>
    </div>
</p-dialog>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>